@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .cfont {
    font-family: Orbitron;
  }

  .fixImg {
    height: 42rem;
    width: 50%;
  }

  @media (max-width: 640px) {
    .fixImg {
      height: 20rem;
    }
  }

  .liFix {
    height: 18rem !important;
  }

  .toggle-btn {
    @apply [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div]:rotate-[720deg] [&>div]:bg-transparent;
  }
}
