@tailwind base;
@tailwind components;
@tailwind utilities;

.cfont {
  font-family: Orbitron;
}

.fixImg {
  height: 38rem;
  width: 50%;
}

@media (max-width: 640px) {
  .fixImg {
    height: 20rem;
  }
}
